
*{
    font-family: "Montserrat", serif;
    margin:0;

   
  }
  /* .main{
    display:flex;
    height: 100vh;
} */

.sidebar{
    background-color: burlywood;
    height:100%;
margin-left:0.5rem;
    width: 340px;
    position: fixed;

}

.first{
    height: 150px;
    width: 150px;
    justify-content: center;
    align-self: center;
overflow: hidden;
margin-left: 20px;
margin-top: 20px;
margin-right: 10px;
    background-image: url(./assets/coffeecup.jpg);
}
a{
    line-height: 5;
    margin-left: 3rem;
text-align: center;
text-decoration: solid;
}

 a .sidebar-options{
    text-align:right;
    margin-left: 50px;
    margin-top: 10px;
    justify-content: space-between;
        display: flex;
        flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 20px;
    

    }
    .main-content{
        height: 100vh;
        align-self: stretch;
        margin-left: 3rem;
        background-image: url(./assets/coffeeshop.jpg);
        background-size: cover;
        margin: bottom 0;
    }
    
    .main-content h1{
        color: aqua;
      justify-content: center;
      text-align: center;
    padding: 50vh;
    text-decoration: wavy;
    }
    .main-content .btn{
        color:crimson;
        justify-content: center;
    }



