/* Global Styles */
* {
    font-family: "Montserrat", serif;
    margin: 0;
}

.sidebar {
    background-color: burlywood;
    height: 100%;
    margin-left: 0.5rem;
    width: 340px;
    position: fixed;
}

/* Sidebar Image */
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-image: url(./assets/coffeecup.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-top: 20px;
}

/* Sidebar Links */
.sidebar-options {
    line-height: 3rem;
    margin-left: 2rem;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

/* Main Content */
.main-content {
    height: 100vh;
    align-self: stretch;
    margin-left: 3rem;
    background-image: url(./assets/coffeeshop.jpg);
    background-size: cover;
    margin-bottom: 0;
}

/* Main Heading */
.main-content h1 {
    color: aqua;
    text-align: center;
    padding: 50vh 0;
    text-decoration: wavy;
}



/* Media Queries for Mobile */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar-options {
        margin-left: 1rem;
        text-align: left;
    }

    a {
        line-height: 2rem;
    }
}
